/* NFTPage.module.css */
.nft-container {
  text-align: center;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Make it full height of the viewport */
  background-image: url("../image/flower.jpeg"); /* Replace with your image path */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
}

.iframeWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.nftIframe {
  width: 300px;
  height: 300px;
  border: none;
}
