.winner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  position: relative;
  background-image: url("../image/confetti.jpeg"); /* Replace with your image path */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
}

.message {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

.message.success {
  position: fixed; /* Set the position to fixed */
  top: 0; /* Position it at the top */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  width: 40%; /* Adjust the width as needed */
  margin: 10px auto; /* Add margin to center vertically */
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgb(0, 255, 68);
  background-color: #d4edda;
  color: #155724;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s, transform 0.3s;
}

.circle:hover {
  background-color: darkgreen; /* Change color on hover */
}

.circle:active {
  transform: scale(0.95); /* Shrink when pressed */
}

.circle-text {
  color: white;
  font-size: 16px;
  text-align: center;
  user-select: none;
}

.winner-image-container {
  position: relative;
}

.winner-image {
  width: 350px;
  height: auto;
  animation: flyIn 2s ease-out forwards;
}

@keyframes flyIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
